:root {/* variables.scss */
  --background: #131824;
  --header-font-family: 'Garamond', serif;
  --main-font-family: 'Yandex Sans Text', sans-serif;
  --main-color: #FFF;

  /*Кнопка купить*/
  --button-buy-color: #FFFFFF;
  --button-buy-background-hover: #F0D288;

  /*Кнопка выбрать фильм*/
  --button-select-color: #2F3951;
  --button-select-background-hover: #65759B;
  --button-select-border-selected: #F0D288;

  /*Ошибки формы*/
  --error-color: #F18B7E;

  /*Надпись оформелния заказа*/
  --order-font-family: 'MB Druzba', sans-serif;

  /*Заголовок о фильме*/
  --about-font-size: 28px;
  --about-font-weight: 400;
  --about-line-height: 38px;

  /*правый и левый отступы*/
  --side-padding: clamp(0.625rem, -9.058rem + 41.315vw, 28.125rem);

  /*Корзина*/
  --cart-count-background: rgba(240, 210, 136, 1);
  --cart-background: #2F3951;
  --cart-hover-background: rgba(101, 117, 155, 1);
}